    .textgeneral {
        font-size: 110%;
    }
   


    

    .portada1 {
        color: transparent;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    body {
        
        color: white;
    }

    h1 {
        display: flex;
        justify-content: center;
    }


    a:hover {
        font-size: 125%;
        color: orange;
        background: skyblue;
    }

    body img {
        box-shadow: 15px -15px 15px;
    }


    .hybridimage {
        color: transparent;
    }

    .breakout {
        color: transparent;
    }

    .octaneimage {
        color: transparent;
    }


    .moveimagehibrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 150%;
        font-family: fantasy;
    }


    .moveimagebreakout {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 150%;
        font-family: fantasy;
    }

    .moveimageoctane {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 150%;
        font-family: fantasy;
    }

    .general1 {
        display: flex;
        margin-top: 8%;
        justify-content: space-around;
    }

    @media (prefers-color-scheme: light) {
        body{
            background: white;
            color:black;
        }
    }

    @media (prefers-color-scheme: dark){
        body{
            background: black;
            color: white;
        }
    }
    