       .portada {
           color: white;
           display: flex;

       }

       body {
           background-color: #000000;
           color: white;
       }


       a:hover {
           font-size: 125%;
           color: orange;
           background: skyblue;
       }

       body img {
           box-shadow: 15px -15px 15px;
       }


       .hybridimage {
           color: #000000;
       }

       .breakout {
           color: #000000;
       }

       .octaneimage {
           color: #000000;
       }


       .moveimagehibrid {
           display: flex;
           flex-direction: column;
           align-items: center;
           font-size: 150%;
           font-family: fantasy;
       }


       .moveimagebreakout {
           display: flex;
           flex-direction: column;
           align-items: center;
           font-size: 150%;
           font-family: fantasy;
       }

       .moveimageoctane {
           display: flex;
           flex-direction: column;
           align-items: center;
           font-size: 150%;
           font-family: fantasy;
       }




       .general1 {
           display: flex;
           margin-top: 8%;
           justify-content: space-around;
       }