       .portada{
    color: white;
}



a:hover{
    font-size: 125%;
    color: orange;
    background: skyblue;
}

body img {
    box-shadow: 15px -15px 15px;
}


.hybridimage{
    color: #000000;
}

.breakout{
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
